<!doctype html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="grep の基本的な機能を素朴に実装することで Rust を学ぶ資料です">
  <title>{{title}}</title>
  <link rel="stylesheet" href="./style.css">
  <script type="module">
    import Reveal from './assets/reveal.esm.js';
    Reveal.initialize();
  </script>
</head>

<body>
  <div class="reveal">
    <div class="slides">
{{ content | safe }}
    </div>
  </div>
</body>

</html>