<!doctype html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="./assets/prism.css">
  <link rel="stylesheet" href="./assets/reveal.css">
  <link rel="stylesheet" href="./assets/theme/white.css">
  <script type="module">
    import Reveal from './assets/reveal.esm.js';
    Reveal.initialize();
  </script>
</head>

<body>
  <div class="reveal">
    <div class="slides">
{{ content | safe }}
    </div>
  </div>
</body>

</html>