.reveal h1{
  font-size: 207%;
  margin-bottom: 3rem;
}

.reveal h2, .reveal h3{
  font-size: 144%;
  margin-bottom: 4rem;
  text-align: center;
}

.reveal ul, .reveal ol{
  line-height: 1.5;
  display: inline-block;
  text-align: left;
}

.reveal ul ul{
  display: block;
  padding-left: 3rem;
}

.reveal p{
  text-align: center;
  line-height: 1.5;
}

.reveal code{
  text-align: left;
  padding: 2rem;
  line-height: 1.2;
}

.reveal table{
  max-width: 100%;
  min-width: 80%;
  margin: auto;
}
.reveal th, .reveal td{
  padding: 1rem;
}
.reveal th{
  background-color: #aaaaaa;
}

.reveal tr:nth-child(even){
  background-color: #cacaca;
}

.reveal pre + ul,
.reveal table + ul,
.reveal pre + pre{
  margin-top: 2rem;
}

.reveal .slides img{
  max-width: 100%;
}

.reveal code{
  font-family: monospace;
  max-height: 20rem;
}

.reveal li code{
  padding: 0;
}